<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">NRCS NWCC eBAGIS</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" collapse="navCollapsed">
    <ul class="nav navbar-nav navbar-right">
        <li><a ng-show="userProfile.$isAnonymous()" ng-href="#/register">Register</a></li>
        <li><a ng-show="userProfile.$isAnonymous()" href="#/login">Login</a></li>
        <li>
            <a ng-show="userProfile.$isAuthenticated" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Logged in as:<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
           <!-- <div class="btn-group" uib-dropdown keyboard-nav ng-show="authenticated">
                Dropdown with keyboard navigation <span class="caret"></span>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">-->
                    <li role="menuitem"><a href="#/account">User Account</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#/logout">Sign Out</a></li>
                </ul>
            </div>
        </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>


<!--
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NRCS NWCC eBAIGS</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <header-account></header-account>
    </ul>
</nav>

<p>
    <a ng-hide="authenticated" href="#/login" class="btn btn-primary">Login</a>
    <a ng-hide="authenticated" href="#/passwordReset" class="btn btn-primary">Send Password Reset</a>
    <a ng-hide="authenticated" ng-click="goConfirmReset()" class="btn btn-primary">Confirm Password Reset</a>
</p>
<p>
    <a ng-show="authenticated" href="#/logout" class="btn btn-primary">Logout</a>
    <a ng-hide="authenticated" ng-href="#/register" class="btn btn-primary">Register</a>
    <a ng-click="goVerify()" class="btn btn-primary">Verify Email</a>
    <a ng-show="authenticated" href="#/passwordChange" class="btn btn-primary">Change Password</a>
    <a ng-show="authenticated" href="#/userProfile" class="btn btn-primary">Profile</a>
    <a href="#/authRequired" class="btn btn-primary">Restricted Page</a>
</p>
-->
